numpy
pandas
scikit-learn==0.23.2
scipy
torch
biopython==1.76
joblib==0.14.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.1.2
multiprocess==0.70.9
scipy==1.4.1
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==1.15.3
tensorflow-estimator==1.15.1
pickleshare==0.7.5
